
[submodule "third_party/pigweed"]
	path = third_party/pigweed
	url = https://pigweed.googlesource.com/pigweed/pigweed
	branch = main
[submodule "third_party/hal_driver"]
	path = third_party/hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver
[submodule "third_party/cmsis_device"]
	path = third_party/cmsis_device
	url = https://github.com/STMicroelectronics/cmsis_device_f4
[submodule "third_party/cmsis_core"]
	path = third_party/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core
